@import '@fontsource-variable/outfit';
@import '@fontsource-variable/inter';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: theme('colors.surface.base');
    color: theme('colors.content.primary');
    font-family: theme('fontFamily.body');
    -webkit-font-smoothing: antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: theme('fontFamily.heading');
  }
}
