---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---
<Layout>
  <Nav />
  <main>
    <p class="text-content-body p-8 pt-24">Skeleton</p>
  </main>
</Layout>
