---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import OPohybe from '../components/OPohybe.astro';
---
<Layout>
  <Nav />
  <main>
    <Hero />
    <OPohybe />
  </main>
</Layout>
